.container {
   background-color: #f29ad8;
}

.inputsContainer {
   display: flex;
   flex-direction: column;
   font-size: 1.2rem;
   color: white;
}

.inputForm {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-content: space-around;
   align-items: center;
   width: 100%;

   > * > *:not(label) {
      margin-bottom: 3vh;
      width: clamp(100px, 90vw, 400px) !important;
   }
}

.select {
   z-index: 1;
}

.chooseWorker {
   display: flex;
   box-shadow: 0 0 10px #e305ad;
   flex-wrap: wrap;
   width: fit-content;
   border-radius: 5px;
   width: 100%;
   padding: 10px;
}

.workerChooser {
   display: flex;
   flex-direction: column;
   width: fit-content;
   align-items: center;
   > * {
      margin: 4px;
   }
   img {
      width: 6rem;
      border-radius: 100%;
      transition: all 0.3s ease;

      &:hover {
         transform: translate(0, -3%);
      }
   }
}
